@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
}
body {
  @apply bg-white text-gray-900 font-sans;
  background-color: #f5f5f5;
  color: #111827;
}

/* Hero overlay text color white when on video */
.hero-overlay { color: white; }
